# Log files
*.log
*.aux
*.blg
*.bbl
*.toc
*.lof
*.lot
*.out
*.fls
*.fdb_latexmk
*.synctex.gz
*.nav
*.snm
*.vrb
*.dvi
*.ps
*.idx
*.ind
*.ilg
*.gz
*.xdv
*.glg
*.glo
*.ist
*.acn
*.acr
*.alg
*.gls
*.glsdefs
*.xdy
*.pyg
*.mw
*.upa
*.thm
*.tdo
*.gz(
*.bak
*.old
*.sav
*.tmp
*.~

# Editor specific files
*~
.#*
*.swp
.DS_Store
.vscode/

# Build directories
_build/
build/
main.pdf
